
budgetManager\.xcodeproj/xcuserdata/leonid\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

budgetManager\.xcodeproj/project\.xcworkspace/xcuserdata/leonid\.xcuserdatad/UserInterfaceState\.xcuserstate
